.app-body {
    .status__info__icons {
        display: flex;
    }
    .status__info__icons > * {
        opacity: 0.8;
        font-size: 15px;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        line-height: 15px;
    }
    .status__info__icons .text-icon {
        padding: 0 2px;
    }
    .notification__message .status__collapse-button > svg {
        margin-left: 0;
    }
    .compose-form__buttons .icon-button.inverted {
        color: var(--color-accent)
    }
    // Fix CW
    .status__content:not(:has(> .status__content__text--visible)) > p:first-child:has(.status__content__spoiler-link) + div {
        display: block;
    }
}


.status__visibility-icon {
    padding: inherit;
}

.navigation-panel {
    display: block;
    .icon-cogs {
        color: var(--color-accent)
    }
}

.status.collapsed {
    min-height: auto;
}

.status__collapse-button {
    width: 24px;
    > svg {
        transform: rotate(0deg);
        transition: all .2s;
    }
    &.activate > svg {
        transform: rotate(180deg);
        transition: all .2s;
    }
}

.pillbar-button {
    background-color: transparent;
    color: var(--color-fg);
    border-radius: 9px;
    transition: all 0.2s;
    max-height: 45px;
    padding: 4px 8px;
    margin-right: 4px;
    border: 0;
    &:hover,
    &.active {
        background-color: var(--color-accent-bg);
    }
}

.compose-form__submit {
    margin-left: auto;
}

.column-subheading {
    border-right: 1px solid var(--color-lines);
    border-left: 1px solid var(--color-lines);
}

.detailed-status__meta__line svg {
    padding: 0;
}

// "Uncollapse" toots
.status,
.detailed-status {
    .status__content {
        .status__content__text {
            display: block;
        }
    }
    &.collapsed .status__content {
        height: 20px;
        overflow: hidden;
        padding-top: 0;
        text-overflow: ellipsis;
        position: relative;
        &::after {
            background: linear-gradient(transparent,var(--color-post-bg));
            bottom: 0;
            content: "";
            left: 0;
            pointer-events: none;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}

.status__content__spoiler {
    display: none;
}

.doodle-modal__action-bar {
    padding: 4px;
    background-color: var(--color-accent-bg);
}
.account__action-bar {
    @extend .account__header__bar;
    .account__action-bar-links {
        @extend .account__header__extra__links;
        strong {
            margin-left: 4px;
        }
    }
}

@media screen and (max-width: 1174px) {
    .app-body .columns-area__panels__pane--navigational .navigation-panel {
        width: 100vw;
        height: 4.2em;
        padding-right: 20vw;
        padding-bottom: var(--safe-area-bottom);
        flex-direction: row;
        overflow-x: auto;
        background-color: color-mix(in srgb, var(--color-content-bg), transparent 25%);
        border-top: 1px solid var(--color-lines-translucent);
        border-left: 0;
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        display: flex;
    }
}